.App {
  text-align: center;
}


.buttonStyle{

    background-color: #4CAF50; 
    color: white;              
    padding: 10px 20px;        
    border: none;              
    border-radius: 5px;         
    cursor: pointer;           
    font-size: 12px;            
    font-weight: bold; 
    width:200px; 
    margin-left:10%;
    margin-right:10%;
    margin-top:5px ;
    transition: backgroun-color 0.3s ease;
     
  }

  .buttonStyle:hover{
    background-color:#348c37
  }

  .buttonStyle:active{
    background-color:#2e5f30
  }

  .remove-btn{
    background-color: rgb(255, 16, 16);
  }
  .remove-btn:hover{
    background-color:rgb(220, 13, 13)
  }
  .remove-btn:active{
    background-color:rgb(153, 12, 12);
  }


